  <div class="search">
    <div class="fav-link"><a href="#/favorites"><i class="fa fa-star"></i></a></div>
    <input type="text" ng-model="search" placeholder="Rechercher"/>
  </div>
  <div class="activities-container">
    <div class="activity" ng-repeat="event in events | filter:search"><a href="#/event/{{event.idactivites}}"><span ng-bind-html="event.nom"></span></a></div>
  </div>

  <map zoom="17" center="current-location">
    <marker position="current-location" title="Ma position"></marker>
    <marker position="{{event.lat}},{{event.lon}}" title="{{event.nom}}" ng-repeat="event in events"></marker>
  </map>
